<div class="container">
  <div class="row">
    <!--Change/Add Steam profile-->

    <div class="col-sm-12">
      <h1>Change Steam Profile</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.changeSteam(form)" novalidate>


        <div class="form-group">
          <label>Your Steam Profile ID</label>
          <p style="color:gray">Ex: 76561198123456789</p>
          <input name="steamId" class="form-control" ng-model="vm.user.steamId"
                 ng-minlength="17"
                 ng-maxlength="17"
                 ng-required="!(vm.user.steamId.length || vm.user.steamUrl.length)"/>
          <p class="help-block" style="color:red" ng-show="(form.steamId.$error.minlength || form.steamId.$error.maxlength || form.steamId.$error.required) && (form.steamId.$dirty || vm.submitted)">
            ID must be 17-digit number</p>
        </div>

        <div class="form-group">
          <label>Your Steam Custom URL</label>
          <p style="color:gray" d>Ex: http://steamcommunity.com/id/c00lgamer123</p>
          http://steamcommunity.com/id/<input style="display:inline-block;width:942px" class="form-control" name="steamUrl" ng-model="vm.user.steamUrl" ng-required="!(vm.user.steamId.length || vm.user.steamUrl.length)"  />
        </div>

        <p class="help-block" style="color:red" ng-show="(form.steamId.$error.minlength || form.steamId.$error.maxlength || form.steamId.$error.required) && (form.steamId.$dirty || vm.submitted)" >
          URL must be a URL</p>

        <p class="help-block">{{ vm.message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Add Profile</button>
        <a href="/"><button class="btn btn-lg btn-primary" ng-show="vm.showReturn" >Return to dashboard</button></a>
        </form>
    </div>
  </div>
</div>
